@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="footer">
    <div class="grid wide footer__mobile">
        <div class="row">
            <div class="col l-3 m-12 c-12 footer__input">
                </ul>
                <h3 class="footer__heading"><b>NHẬN BẢN TIN TỪ SHOESLOVER</b></h3>
                <form action="" class="footer__form">
                    <input type="email" name="email" id="email" placeholder="Nhập e-mail của bạn" required>
                    <input type="submit" value="OK">
                </form>
            </div>
            <div class="col l-2 m-3 c-6">
                <h3 class="footer__heading">VỀ SHOP</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2 m-3 c-6">
                <h3 class="footer__heading">CHÍNH SÁCH</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Điều khoản</a>
                    </li>
                    <li>
                        <a href="">Đổi trả</a>
                    </li>
                    <li>
                        <a href="">Bảo hành</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2 m-3 c-6">
                <h3 class="footer__heading">THEO DÕI</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l-2 m-3 c-6">
                <h3 class="footer__heading">TẢI ỨNG DỤNG</h3>
                <div class="footer__download">
                    <a href="" class="footer__download-link-QR">
                        <img src="~/image/qrcode.png" alt="Download">

                    </a>
                    <div class="footer__download-app">
                        <a href="" class="footer__download-link-app">
                            <img src="~/image/googleplay.png" alt="">
                        </a>

                        <a href="" class="footer__download-link-app">
                            <img src="~/image/appstore.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer__copyright">
        <div class="grid wide">
            <p>© 2021 ShoesLover. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</footer>