@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="slider">
    <div class="aspect-ratio-169">

        <img src="~/image/slide_index_1.webp" />
        <img src="~/image/slide_index_2.webp" />
        <img src="~/image/slide_index_3.webp" />
        <img src="~/image/slide_index_4.webp" />

    </div>
    <div class="dot-container">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>

</section>