@model Brand
@{
    ViewData["Title"] = "Edit_Brand";
}

<div class="card">
    <div class="card-header d-flex justify-content-center">
        <h3 class="">Cập nhật nhãn hiệu</h3>
    </div>
    <div class="card-body">
        <form asp-controller="Brand" asp-action="Edit" method="post" class="form-control" enctype="multipart/form-data">
            <input name="id" type="hidden" class="col-lg-9 col-md-9 col-sm-9 p-0" value="@Model.Id" />

            <div class="row m-3">
                <label for="BrandName" class="col-form-label col-sm-5">Tên nhãn hiệu</label>
                <div class="col-sm-6">
                    <input name="BrandName" type="text" class="form-control" value="@Model.BrandName" />
                </div>
            </div>
            <div class="row m-3 justify-content-center">
                <input type="submit" name="submit" value="Cập nhật" class="btn btn-primary col-3 m-2" />
                <a asp-action="Index" class="btn btn-danger col-3 m-2" >Hủy</a>

            </div>
        </form>

    </div>
</div>