@model Category
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="">Cập nhật danh mục</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" class="form-control">
            <input name="id" type="hidden" class="col-lg-9 col-md-9 col-sm-9 p-0" value="@Model.Id" />

            <div class="row m-3">
                <label for="name" class="col-form-label col-sm-2">Tên danh mục</label>
                <div class="col-sm-10">
                    <input name="CategoryName" type="text" class="form-control" value="@Model.CategoryName" />
                </div>
            </div>
            <input type="hidden" name="redirectOption" id="redirectOption" />
            <div class="row m-3 justify-content-center">
                <input type="submit" value="Cập nhật" class="btn btn-success col-3 m-2" />
                <a asp-action="Index" class="btn btn-danger col-3 m-2">Hủy</a>
            </div>
        </form>

    </div>
</div>