/******************** Header ********************/
@import url('file:///D:\HOCTAP\Framework\Đồ án Framework\ShoesLover\wwwroot\css\header.css');
#main-header {
    padding: 0;
}

header {
    /* height: 70px; */
    position: fixed;
    z-index: 1;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 10px #ccc;
    height:90px;
   
}

header:hover{
    background: white;
}

header.sticky{
    background: white;
}

.header-nav {
    height: 100%;
}

.header-nav > ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    flex: 1;
    height: 100%;
}

.logo a {
    display: inline-block;
    height: 100%;
}

.logo img {
    width: 100%;
    object-fit: contain;
    padding-right: 32px;
    position:relative;
    right:15px;
}

/* Menu */
.menu {
    flex: 3;
    position:relative;
    left:75px;
    font-size:15px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list > li {
    position: relative;
}

.menu-list > li > a {
    font-weight: bold;
    display: inline-block;
}

.menu-list > li > a, 
.others-list > li > a {
    padding: 12px;
}

.subMenu-list {
    color: #000;
    display: none;
    position: absolute;
    background-color: #fff;
    border-top: 2px solid #000;
    box-shadow: 0 2px 4px #ccc;
    top: 62px;
    left: 12px;
    width:145px;
}

.subMenu-list > li {
    display: inline-block;
    min-width: 100%;
}

.subMenu-list > li > a {
    display: block;
    padding: 0 8px;
    line-height: 36px;
}

/* Others */
.others {
    flex: 1;
    position:relative;
    left:12px;
}

.others > ul{
    display: flex;
    list-style: none;
}

.others-list > li {
    border-left: 1px solid #000;
}

.others-list > li:first-child {
    position: relative;
    margin: 0 12px;
    border: none;
    border-bottom: 1px solid #000;
}

.header-search {
    display: flex;
}

.others-list > li:first-child button {
    border: none;
    background-color: transparent;
    right: 0;
    cursor: pointer;
    padding: 0 4px;
}

.others-list > li:first-child input {
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 4px;
}

.others-list > li + .others-list > li {
    border-left: 1px solid #000;
}

/* Cart__list */
.search-cart--wrap:hover .cart__list {
    display: block;
}

.cart__list {
    display: none;
    position: absolute;
    width: 400px;
    background-color: #fff;
    right: -200px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transform-origin: calc(100% - 3rem) top;
    z-index: 2;
    top: 50px
}

.cart__list--nocart {
    padding: 24px 0;
}

.cart__list--nocart .no-cart,
.cart__list--nocart .cart__list--empty {
    display: inline-block;
}


.cart__list:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 50px;
    background-color: transparent;  
    top: -29px;
    right: 100px;
}


.cart__list:hover {
    cursor: default;
}

.no-cart {
    display: block;
    margin: 0 auto 20px auto;
    width: 240px;
}

 .cart__list--empty {
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: center;
} 

.search-cart--wrap:hover .cart__list {
    display: block;
}
.search-cart--wrap {
    position: relative;
}
/* user tab */
.user-tab {
     display: none;   
    position: absolute;
    width: 200px;
    text-align: center;
    background-color: #fff;
    right: -50px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transform-origin: calc(100% - 3rem) top;
    z-index: 2;
    top: 50px;
}
    .user-tab:before {
    
    content: '';
    position: absolute;
    width: 55%;
    height: 50px;
    background-color: transparent;
    bottom: 85%;
    right:15px
       
       
       
    }
.search-cart--wrap:hover .user-tab {
    display: block;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.user-info .btn-group{
    margin-top: 10px;
    text-align: center;
}
.user-info .basic-btn {
    padding: 7px 15px;
    margin: 3px;
    border-radius: 5px;
    transition: background-color 1s linear 0.5s;
    position: relative;
    color: white;
    background-color: #6a5af9a6;
   
}
.basic-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #6a5af9; 
    z-index: -1;
    transition: width 0.2s linear;
    border-radius: 5px;
}
.basic-btn:hover:before {
    width: 100%;    
}
.exit-btn{
    position: relative;
    background-color: #ff0000A6;
    padding: 7px 15px;
    margin: 3px;
    border-radius: 5px;
    transition: background-color 1s linear 0.5s;
    position: relative;
    color: white;
}
.exit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ce1515;
    z-index: -1;
    transition: width 0.2s linear;
    border-radius: 5px;
}
.exit-btn:hover:before{
    width: 100%;
}
.exit-btn:hover{
    color: white;
}

/* has cart */
.cart__list-header {
    color: #999;
    height: 40px;
    line-height: 40px;
    margin-left: 12px;
    text-align: left;
    cursor: text;
}

.cart__list-list {
    overflow-y: auto;
    max-height: 50vh;
}

.cart__list-item {
    list-style-type: none;
}

.cart__list-item:hover {
    background-color: #f8f8f8;
}

.cart__list-item a {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.cart__list-item-img {
    margin-left: 12px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    border: .1rem solid #c4c4c4;
}

.cart__list-item-description {
    flex: 1;
    margin: 0 8px;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__list-item-heading {
    display: flex;
    justify-content: space-between;
}

.cart__list-item-name {
    padding-right: 10px;
    text-align: left;
    line-height: 17px;
    max-height: 34px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
}

.cart__list-item-detail {
    cursor: text;
}

.cart__list-item-cost {
    font-weight: bold;
}

.cart__list-item-multiply {
    color: #878687;
    font-size: 9px;
    margin: 0 2px;
}

.cart__list-item-quanlity {
    color: #878687;
}

.cart__list-item-body {
    display: flex;
    justify-content: space-between;
}

.cart__list-item-color {
    margin-right: 12px;
}

.cart__list-item-remove {
    font-weight: bold;
}

.cart__list-item-remove:hover {
    color: red;
}

.cart__list-footer {
    margin: 14px 1.2rem 14px 0;
    float: right;
    font-size: 14px;
}

.cart__list-footer:hover {
    opacity: 0.9;
}

.cart__list-footer button {
    padding: 4px 16px; 
    line-height: 24px;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    outline: 0;
}




.subMenu-list::after {
    content: "";
    width: 33px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: -28px;
    padding-right:10px;
    left:-2px;
}


.subMenu-list {
    transform-origin: left top;
    animation: containergrow ease-in 0.3s;
}

@keyframes containergrow {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#navbar-cart {
    position: absolute;
    right: -30px;
}
    #navbar-cart:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 25px;
        background-color: transparent;
        bottom: 100%;
        right: 15px
    }

.cart__list_header::before {
    content: '';
    position: absolute;
    background: red;
    z-index:2;
}



