@model List<object>
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Doanh Thu";
    //string deserializeData = JsonConvert.ToString(Model);
    //Console.WriteLine(deserializeData);

    var labels = Model.Select(item => item.GetType().GetProperty("year").GetValue(item, null)).ToArray();
    var value = Model.Select(item => item.GetType().GetProperty("tong").GetValue(item, null)).ToArray();

}

<h2 class="text-center">Doanh thu theo tháng</h2>
<div class="row">
    <div class="col-sm-8">
        <canvas height="150" id="revenueChart"></canvas>
    </div>
    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>Tháng trong năm</th>
                <th>Doanh thu</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.GetType().GetProperty("year").GetValue(item, null)
                    </td>
                    <td>
                        @item.GetType().GetProperty("tong").GetValue(item, null)
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="~/Chart.js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script>
        //set up
        @*console.log(@labels);*@
    var fetchData = [];
    $.ajax({
            url: '@Url.Action("GetRevenueByMonth", "Analysis")',
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                //data.forEach((element, index, array) => {
                //    fetchData.push(element);
                //});
                //console.log(fetchData);
                const myData = {
                    labels: data[0],
                    datasets: [
                        {
                        label: "Doanh số theo tháng",
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1,
                            data: data[1],
                        }
                    ]
                }
                //config
                const config = {
                    type: 'bar',
                    data: myData,
                    options: {
                        title: {
                            display: true,
                            text: "Doanh số theo tháng",
                        },
                    }
                }
                // render
                const ctx = document.getElementById("revenueChart").getContext("2d");
                const myChart = new Chart(
                    ctx,
                    config
                )
            },
            error: () => alert("something wrong")
        })

    </script>
}